<mat-toolbar color="primary">
    <div class="">
      <i class="mdi mdi-format-title:">Oshop</i>
      <i class="mdi mdi-format-title:">    welcome {{user.firstName |userNameFormatter:user.gender}}</i>
    </div>

    <button mat-raised-button (click)="backToPrevPage()" >back To prev</button>
    <button mat-raised-button routerLink="/home/cart" >Cart {{cartItemsLength}}</button>
    <button mat-raised-button routerLink="/user-profile" >My Profile</button>
    <button mat-raised-button  (click)="LogoutUser()">Logout</button>
</mat-toolbar>
