<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to OShop</mat-card-title>
    </mat-card-header>


    <form [formGroup]="loginForm" >
      <mat-card-content>
      <mat-form-field class="example-form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="loginForm.controls.email.hasError('required')">
           please Enter Email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">
          Enter a valid Email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">
          Enter a Password
        </mat-error>
         <mat-error *ngIf="loginForm.controls.password.hasError('pattern')">
          Enter a valid Password
        </mat-error>
      </mat-form-field>
      <button mat-flat-button (click)="login()" color="primary">Login</button>
    </mat-card-content>
    </form>


  </mat-card>
</div>
